.text-title{
    font-family: "Dhurjati";
    font-size: 3rem;
}

.button-submit {
    background-color: #ffffff;
    color: #000000;
    border: 0.1rem solid #000000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 1rem;
    transition: box-shadow 0.0s, background-color 0.0s;
  }
  
  .button-submit:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: lightblue;
  }

  .ship-placement-container {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .ship-placement-container .ship-selection {
    margin-right: 20px;
  }
  
  .ship-placement-container .counter-container {
    margin-right: 20px;
  }

  .sign-out-container {
    position: relative; 
    margin-top: 2%; 
    margin-left: 2%; 
  }
  
  .sign-out-button {
    background-color: #fff;
    border: none;
    padding: 0.5rem; 
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .info-container {
    position: absolute;
    margin-top: 2%; 
    margin-left: 80%; 
  }

  .info-icon {
    font-size: 2rem; 
    cursor: pointer;
  }


  