.battle-field {
  display: inline-table;
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
  margin-bottom: 2%;
  margin-top: 0;
}

.row {
  display: flex;
}

.cell {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: grey; 
}


.row-column-label {
  color: black;
  font-weight: bold; 
}

.cell {
  pointer-events: none;
}

.row-column-label {
  color: black;
  font-weight: bold;
  pointer-events: none;
}