.board-container{
    display: flex;
}


.ships-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .ship-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Ajusta el margen según tus preferencias */
  }
  
  .ship-image {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-bottom: 5px; /* Ajusta el margen según tus preferencias */
  }
  
  .ship-details {
    text-align: center;
  }
  
  .ship-name {
    font-size: 1rem;
    margin: 0; /* Ajusta el margen según tus preferencias */
  }
  
  .ship-length {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus preferencias */
    margin: 0; /* Ajusta el margen según tus preferencias */
  }
  