
html, body, #root {
    background-color: #3c4c9b;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.battleShip-title{
    height: 20%;
    width: 50%;
}

.secondPlayer-text{
    font-family: "Dhurjati";
    font-size: 2rem;
}

.login-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 30%;
    border: 5px solid gray;
}

.nickName-text{
    font-family: "Dhurjati";
    font-size: 1.2rem;
    align-self: flex-start;
}

.input-nickName {
    width: 99%;
    padding: 0;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 1.2rem;
    font-family: "Dhurjati";
}


.start-button {
    width: 90%;
}