.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Agregado margen superior */
  }
  
  .battleShip-title {
    height: 20%;
    width: 50%;
    margin-bottom: 20px; /* Agregado margen inferior */
  }
  
  .secondPlayer-text {
    font-family: "Dhurjati";
    font-size: 2rem;
  }
  
  .login-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 30%;
    border: 5px solid gray;
  }
  
  .nickName-text {
    font-family: "Dhurjati";
    font-size: 1.2rem;
    align-self: flex-start;
  }
  
  .input-nickName {
    width: 99%;
    padding: 0;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 1.2rem;
    font-family: "Dhurjati";
  }
  
  .start-button {
    width: 90%;
  }